.outline-view {
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--tree-view-background-color);
  contain: size;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
}

.outline-view .outline-search {
  display: block;
  position: relative;
  flex: none;
  margin: 0.375em;
}

.outline-view .outline-search lumine-text-editor {
  font-size: var(--font-size);
}

.outline-view .outline-search .icon-remove-close {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
}

.outline-view .outline-search:hover .icon-remove-close {
  display: block;
}

.outline-view .outline-search:hover .icon-remove-close:hover {
  color: var(--text-color-highlight);
  cursor: default;
}

.outline-view .outline-scroller {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.outline-view.with-ellipsis-strategy ul.outline-list-root.outline-list {
  min-width: unset;
}

.outline-view.with-ellipsis-strategy .name {
  max-width: calc(100% - var(--font-size));
}

.outline-view.with-ellipsis-strategy .name-inner {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.outline-view ul.background-message {
  position: relative;
  top: 45%;
  margin-left: 2px;
  margin-right: 2px;
}

.outline-view ul.outline-list-root.outline-list {
  isolation: isolate;
  position: relative;
  min-width: min-content;
  /* Imitate what's built into tree-view. */
  padding: 0 10px 0 5px;
}

.outline-view ul.outline-list {
  list-style-type: none;
  padding: 0;
}

.outline-view .outline-list.hidden {
  display: none;
}

.outline-view .name {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.outline-view .outline-symbol-icon {
  flex: none;
}

.outline-view .name-inner {
  display: block;
  max-width: 100%;
}

.outline-view .name-inner .character-match {
  text-decoration: underline;
}

.outline-view .outline-view-option.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.outline-view .outline-view-option.list-item::before {
  flex: none;
}

.outline-view .outline-view-option.list-item:hover {
  background-color: var(--background-color-highlight);
}
